[core]
	pager = delta
	editor = nvim

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[init]
	defaultBranch = master

[user]
	name = Trevor Strieber
	email = trevor@strieber.org
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[include]
	path = ~/.config/git/local
